nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
  color: #39b101;
  cursor: pointer;
}
li:after {
  content: "";
  height: 2px;
  background-color: rgb(221, 43, 43);
  width: 0%;
  display: block;
  margin: auto;
}
li:hover::after {
  width: 100%;
  transition: 1s;
}
